
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Doctor</h2>
<form method="post" action="/Doctor/Put">
    <div class="form-group">
        <label for="Initials">Initials <small class="text-danger"> (requied)</small></label>
        <input type="text" name="Initials" class="form-control" id="Initials" aria-describedby="emailHelp" required>
        @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> *@
    </div>
    <div class="form-group">
        <label for="Collection">Room <small class="text-danger"> (requied)</small></label>
        <input type="text" name="Collection" class="form-control" id="Room" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>