@model IEnumerable<Street>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Patient</h2>
<form method="post" action="/Patient/Put">
    <div class="form-group">
        <label for="FirstName">First name <small class="text-danger"> (requied)</small></label>
        <input type="text" name="FirstName" class="form-control" id="FirstName" aria-describedby="emailHelp" required>
        
    </div>
    <div class="form-group">
        <label for="LastName">Last name <small class="text-danger"> (requied)</small></label>
    <input type="text" name="LastName" class="form-control" id="LastName" required>
    </div>
    <div class="form-group">
        <label for="MiddleName">Middle name</label>
        <input type="text" name="MiddleName" class="form-control" id="MiddleName">
    </div>
    <div class="form-group">
        <label for="PassportNumber">Passport <small class="text-danger"> (requied)</small></label>
        <input type="text" name="PassportNumber" class="form-control" id="PassportNumber" required>
    </div>
    <div class="form-group">
            <label for="PictureSelect">Street <small class="text-danger"> (requied)</small></label>
            <select class="form-control" id="PictureSelect" name="PictureId" required>
                @foreach (var street in this.Model)
                {
                    <option value="@street.Id">@street.Name</option>
                }
            </select>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
